.dg-edit-bar {
  cursor: pointer;
  border: 2px solid #BC8CBF;
  justify-content: flex-end;
  padding: 0.2rem 1rem;
  position: relative;
}
.dg-edit-bar.selected {
  background-color: #BC8CBF;
}
.dg-edit-bar-label {
  margin-right: auto;
}
.dg-edit-bar.dg-edit-bar-inherited {
  cursor: default;
  background-color: blue;
  color: white;
  border-color: darkblue;
}

.dg-new-bar {
  cursor: pointer;
  border: 2px dashed #bc8cbf;
  padding: 0.6rem 1rem;
  width: 100%;
}
.dg-new-bar[disabled] {
  cursor: default;
}

.dg-edit-bar, .dg-new-bar {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, "Lucide Grande", sans-serif;
  background-color: rgba(235,232,232,0.59);
  margin-bottom: 12px;
}

.dg-edit-bar button, .dg-edit-bar-move {
  border-width: 0;
  background-color: transparent;
  border-radius: 0.2em;
  padding: 0.1em 0.4em;
  cursor: pointer;
  margin-left: 0.1em;
  font-size: 1em;
}

.dg-edit-bar-move {
  border-color: transparent;
}

.dg-new-bar svg, .dg-edit-bar svg {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
}

.dg-new-bar svg {
  margin-right: 0.5em;
}

.dg-new-bar span {
  padding-top: 1px;
}

.dg-edit-bar.dg-edit-over, .dg-new-bar.dg-edit-over {
  border-color: #6a3a6e;
  background-color: rgba(173, 172, 172, 0.8);
}

.dg-no-drop:not([disabled]) {
  opacity: 0.4;
}

.dg-new-bar.dg-yes-drop span:after {
  content: ' (drop to place inside)'
}

.dg-edit-bar.dg-yes-drop .dg-edit-bar-label:after {
  content: ' (drop to place above)'
}

.dg-edit-bar.dg-yes-drop.dg-dragging-below .dg-edit-bar-label:after {
  content: ' (drop to place below)'
}
