:host(:focus) {
  outline: none !important;
}

:host {
 container-type: inline-size;
 display: block;
 flex-grow: 1;
}

@container (max-width: 250px) {
  div.dg-edit-bar {
    text-align: center;
    flex-direction: column; /* same as flex-wrap: wrap;display:block; */
    padding: 2px 0;
  }
  span.dg-edit-bar-label:after {
    display: block;
    font-size: 0.9em;
  }
  span.dg-edit-bar-label {
    margin-right: 0;
  }
  div.dg-edit-bar-buttons {
    font-size: 0.9em;
  }
}

@container (max-width: 80px) {
  div.dg-edit-bar-buttons {
    white-space: normal;
  }
}

.dg-edit-bar {
  cursor: pointer;
  border: 2px solid #BC8CBF;
  justify-content: flex-end;
  padding: 0.2rem 1rem;
  position: relative;
}
.dg-edit-bar.selected {
  background-color: #BC8CBF;
}
.dg-edit-bar-label {
  margin-right: auto;
}
.dg-edit-bar-label + .jump-to-original {
  color: white;
}
.dg-edit-bar-buttons {
  white-space: nowrap;
}
.dg-edit-bar.dg-edit-bar-inherited {
  cursor: default;
  background-color: blue;
  color: white;
  border-color: darkblue;
}

.dg-new-bar {
  cursor: pointer;
  border: 2px dashed #bc8cbf;
  padding: 0.6rem 1rem;
  width: 100%;
}
.dg-new-bar[disabled] {
  cursor: default;
}

.dg-edit-bar, .dg-new-bar {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, "Lucide Grande", sans-serif;
  background-color: rgba(235,232,232,0.59);
  margin-bottom: 12px;
  line-height: 1.2;
}

button.dg-new-bar  {
  color: black;
}

.dg-edit-bar button, .dg-edit-bar-move {
  border-width: 0;
  background-color: transparent;
  border-radius: 0.2em;
  padding: 0.1em 0.4em;
  cursor: pointer;
  margin-left: 0.1em;
  font-size: 1em;
  color: black;
}

.dg-edit-bar-move {
  border-color: transparent;
}

[draggable="false"] .dg-edit-bar-move {
  opacity: 0.3;
}

.dg-new-bar svg, .dg-edit-bar svg, .dg-area-paste svg {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
}

.dg-new-bar svg {
  margin-right: 0.5em;
}

.dg-new-bar span {
  padding-top: 1px;
}

.dg-edit-bar.dg-edit-over, .dg-new-bar.dg-edit-over {
  border-color: #6a3a6e;
  background-color: rgba(173, 172, 172, 0.8);
}

.dg-no-drop:not([disabled]) {
  opacity: 0.4;
}

.dg-new-bar.dg-yes-drop span:after {
  content: ' (Drop to place inside)';
  text-transform: none;
}

.dg-edit-bar.dg-yes-drop .dg-edit-bar-label:after {
  content: ' (Drop to place before)';
  text-transform: none;
}

.dg-edit-bar.dg-yes-drop.dg-dragging-below .dg-edit-bar-label:after {
  content: ' (Drop to place after)';
  text-transform: none;
}

.visuallyhidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  font-size: 20px !important;
  background: white !important;
  color: black !important;
}

.new-bar-container {
  position: relative;
  .dg-area-paste {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
    background-color: transparent;
    border: 0px;
  }
}

.dg-area-paste {
  display: none;
}

.dg-area-paste[pasteallowed="true"] {
  display: flex;
}
